<script type="text/javascript">
<!--
if (self.parent.frames.length != 0) self.parent.location="sys_portal.php";
//-->
</script>
<noscript><meta http-equiv="refresh" content="0; URL={URL_DISALLOW}"></noscript>

<form action="{LOGIN_FORM_URL}" method="post" name="loginForm">

<span class="title">{LOGIN_HEADLINE}</span><br>

<p>{LOGIN_ERROR}</p>

<table width="100%" border="0" cellspacing="1" cellpadding="2" class="tabelle">
	<tr><td width="100"><p>{LOGIN_USERNAME}</p></td>
		<td width="500"><input type="text" name="username" size="15" maxlength="30" ></td>
	</tr>
	<tr><td><p>{LOGIN_PASSWORD}</p></td>
		<td><input type="password" name="password" size="15" maxlength="30"></td>
	</tr>
	<tr><td>&nbsp;</td>
		<td><input type="submit" name="btn_login" value=" Login " class="but"></td>
	</tr>
</table>
</form>
<br>

<form action="{EMAIL_FORM_URL}" method="post" name="emailForm">
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="tabelle">
	<tr>
		<td colspan="2"><p><b>{EMAIL_HEADLINE}</b></p></td>
	</tr>
	<tr>
		<td colspan="2"><p>{EMAIL_TXT}</p></td>
	</tr>
	<tr>
		<td width="100"><p>E-Mail</p></td>
		<td width="500"><input type="text" name="email" size="35" maxlength="35"><input type="submit" value=" OK " name="btn_email" class="smallbut"></td>
	</tr>
</table>
</form>
<br>

<script language="JavaScript" type="text/javascript">
	with (document.forms['loginForm']) {
		obj=elements['username'];
		if(!obj.value) { obj.focus(); }
	}
</script>
<br>
