
<!-- Rahmentabelle schliessen -->
</td></tr></table>
</div>

<!-- Page-Info-Box -->
{OPENPAGEINFOS}
<!-- BEGIN infos -->
<tr>
	<td><p><small class="footer">{FOOTER_NAME}</small></p></td>
	<td><p><small class="footer">&nbsp;&nbsp;{FOOTER_VALUE}</small></p></td>
</tr>
<!-- END infos -->
{CLOSEPAGEINFOS}
	
<p><small class="footer">{COPYRIGHT}</small></p>
<!-- {USER_AGENT} -->
</body>
</html>
