<form>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr valign="top">
		<td><span class="title">{STD_HEADLINE}</span></td>
		<td align="right">{BTN_NEW}</td>
	</tr>
</table>
{HR}
{SUBNAVI}

<table width="100%" border="0" cellspacing="1" cellpadding="2" class="tabelle">
	<tr>
		<th width="40%">{TH_NAME}</th>
		<th width="30%">{TH_CONTACT}</th>
		<th width="20%" nowrap>{TH_LASTLOGIN}</th>
		<th width="10%">&nbsp;</th>
	</tr>
	<!-- BEGIN user -->
	<tr><td colspan="4" class="off"><img src="pix/onepix.gif" width="1" height="1" alt="" border="0"></td></tr>
	<tr valign="top">
		<td{TD_STYLE}><span class="text">{TD_NAME}</span></td>
		<td{TD_STYLE}><span class="text"><small>{TD_CONTACT}</small></span></td>
		<td{TD_STYLE} nowrap><span class="text"><small>{TD_LASTLOGIN}</small></span></td>
		<td{TD_STYLE} align="right" nowrap><span class="text"><small>{TD_EDIT}</small></span></td>
	</tr>
	<!-- END user -->
</table>
<br>

<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<td><span class="text">{DBNAVI_STATUS}</span></td>
	</tr>
	<tr>
		<td><span class="text">{DBNAVI_LINKS}</span></td>
	</tr>
</table>
</form>
<br>