/* Typo */
h1 {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	margin: 0px 0px 14px 0px;
	padding: 0px;
}
p {
	margin: 0px;
	padding: 0px;
}
hr {
	height: 1px;
	color: #8e8e8e;
	background-color: #8e8e8e;
	border: 0px solid #8e8e8e;
	margin: 0px;
	padding: 0px;
}

/* Links */
a:link, a:visited, a:active {
	color: #a8363d;
	text-decoration: none;
}
a:hover {
	color: #a8363d;
	text-decoration: underline;
}

/* Modules */
.imgColumn {
	float: left;
	width: 245px;
	margin: 0px; 
	padding: 0px;
}

.column {
	float: left;
	margin: 0px; 
	padding: 0px;
}
.one {
	width: 225px;
}
.margin {
	margin-right: 20px;
}


/* thumbs */
#thumbs {
	margin: 0px;
	padding: 0px;
}

.previewImgOff {
	float: left;
	width: 225px;
	height: 67px;
	margin: 0px 20px 20px 0px;
	padding: 0px;
	visibility: hidden;
}
.previewImgOn {
	float: left;
	width: 205px;
	height: 150px;
	text-align: center;
	background-color: #ffffff;
	margin: 0px 20px 20px 0px;
	padding: 0px 10px 10px 10px;
	visibility: visible;
}
.previewBlank {
	float: left;
	width: 225px;
	height: 160px;
	margin: 0px 20px 20px 0px;
	padding: 0px;
}


/* slideshow */
#slideshow {
	text-align: center;
	margin: 0px;
	padding: 0px;
}


/* events */
.eventTextOff {
	float: left;
	height: 47px;
	background-color: #f6f6f6;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	cursor: pointer;
}
.eventTextOff div {
	display: none;
}
.eventTextOn {
	float: left;
	height: 140px;
	background-color: #ffffff;
	margin: 0px 0px 20px 0px;
	padding: 10px;
	cursor: default;
}
.eventTextOn div {
	display: block;
}


/* paging */
#paging {
	position: absolute;
	left: 20px;
	top: 375px;
	z-index: 10;
}
#paging img {
	vertical-align: middle;
	margin-bottom: 3px;
}


/* caption */
#captionDiv {
	position: absolute;
	left: 20px;
	bottom: 1px;
	width: 205px;
	z-index: 20;
}
