/* form elements */
form { display: inline; }

fieldset {
	border-style: none;
	margin: 0px;
	padding: 0px;
}

select, input, textarea {
	width: 100%;
	border: 1px solid #999999;
	background-color: #ffffff;
	margin: 2px 0px 2px 0px;
	padding: 0px;
}

textarea {
	overflow: auto;
}

button {
	color: #999999;
	border: 1px solid #999999;
	background-color: transparent;
	margin: 10px 4px 0px 0px;
	padding: 1px 4px 1px 4px;
}

.radio {
	vertical-align: middle;
	margin: 0px 5px 0px 5px;
}

.noborder { border-style: none; }