/* Layout */
#layout {
	width: 1225px;
	height: 740px;
}

/* header */
#logo {	
	left: 1000px;
}

/* content */
#homecontent {
	width: 715px;
	min-height: 700px;
}
#content {
	width: 715px;
	min-height: 700px;
}
#content .offset {
	padding-top:180px;
}
.two {
	float:right;
	width: 470px;
}
.eventTextOff, .eventTextOn {
	width: 450px;
}

#slideshow {
	width: 715px;
	height: 700px;
}

#thumbs {
	width: 715px;
}
.t2, .t4, .t8, .t10 {
	margin-right: 20px;
}
.t3, .t6, .t9, .t12 {
	margin-right: 0px;
}

#slide, #slide_bak {
	max-width: 715px;
	max-height: 700px;
}