@import url("content.css");
@import url("tables.css");
@import url("forms.css");
@import url("lightwindow.css");


/* Layout */
html {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #898989;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	background-color: #ffffff;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
#layout {
	position: relative;
	left: 0px;
	top: 0px;
	width: 1220px;
	margin: 0px;
	padding: 0px;
}
/* header */
#logo {
	position: absolute;
	left: 1000px;
	top: 20px;
	width: 220px;
	height: 410px;
	margin: 0px;
	padding: 0px;
}
/* navigation */
#navigation {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 225px;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}

.social-media {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 5px;
}

#facebook {
    background: url("../pix/facebook-icn.png") no-repeat;

 }
#twitter {
    background: url("../pix/twitter-icn.png") no-repeat;
 }

#leftcolumn {
	position: absolute;
	left: 20px;
	top: 170px;
	width: 225px;
	margin: 0px;
	padding: 0px;
	z-index: 3;
}
#navigation ul, #leftcolumn ul, #content ul {
	margin: 0px;
	padding: 0px;
}
#navigation ul.navi {
	text-transform: uppercase;
	letter-spacing:0.2em;
}
ul.navi li {
	display: inline;
	margin: 0px;
	padding: 0px;
}
ul.navi a, ul.navi a:link, ul.navi a:visited, ul.navi a:active {
	color: #898989;
	text-decoration: none;
}
ul.navi a.hi, ul.navi a:link.hi, ul.navi a:visited.hi, ul.navi a:active.hi, ul.navi li.hi {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
ul.navi a:hover {
	color: #000000;
	text-decoration: none;
}
ul.navi a.on, ul.navi a:link.on, ul.navi a:visited.on, ul.navi a:active.on {
	color: #000000;
}
ul.navi img {
	margin-bottom: 14px;
}

ul.navi li li {
	margin-left: 20px;
	}

/* content */
#homecontent {
	position: absolute;
	left: 245px;
	top: 0px;
	width: 715px;
	min-height: 700px;
	background-color: #ffffff;
	border:1px solid #eeeeee;
	margin: 0px;
	padding: 20px;
}
#content {
	position: absolute;
	left: 245px;
	top: 0px;
	width: 715px;
	min-height: 700px;
	background-color: #eeeeee;
	margin: 0px;
	padding: 20px;
}
#infoBreeder a:link  { color: #000; }
#infoBreeder a:hover { color: #A8363D; }
/* Standard-Formate */
a {
	text-decoration: none;
	outline: none;
}
img	{
	border: none;
	margin: 0px;
	padding: 0px;
}
object {
	display: inline;
	margin: 0px;
	padding: 0px;
}
.floatleft	{ float: left; }
.floatright { float: right; }
.clear		{ clear: both; }
.subtext	{ display: none; }
