.calTable			{ width: 100%; margin: 0px; padding: 0px; }
.calTableHead		{ height: 20px; font-family: sans-serif; font-size: x-small; color: #000000; background-color: #DBDBDF; }
.calDaynames		{ height: 20px; font-family: sans-serif; font-size: x-small; color: #000000; font-weight: bold; text-decoration: none; text-align: center; padding: 2px; background-color: #CCCCCC; vertical-align: middle; }
.calWeekTd, .calWeekdayTd, .calSaturdayTd, .calSundayTd, .calNotthismonthTd, .calHighlightTd {
	height: 19px; text-align: center; padding: 2px; vertical-align: middle;
}
.calWeek, .calWeekday, .calSaturday, .calSunday, .calNotthismonth, .calHighlight {
	font-family: sans-serif; font-size: x-small; color: #000000; text-decoration: none;
}
.calWeekTd						{ background-color: #CCCCCC; }
.calWeekdayTd					{ background-color: #FFFFFF; }
.calSaturdayTd, .calSundayTd	{ background-color: #E5E5E5; }
.calNotthismonthTd				{ background-color: #F0F0F3; }
.calHighlightTd					{ background-color: #FFEAD7; }
.calSaturday, .calSunday, .calNotthismonth { color: #999999; }

#calTodayTd	{ border: 1px solid #000000; text-decoration: none; }
.calButton	{ font-family: sans-serif; font-size: x-small; color: #000000; text-decoration: none; padding: 2px; background-color: #F5F5F8; border-color: #F5F5F5 #AAACB3 #AAACB3 #F5F5F5; border-width: 1px; border-style: solid; }