/* styles.css - version 2.0
   common CSS definitions for DOM browsers
   author: MG,AF info@design-aspekt.com | date: 2003-09-11
*/

/* body */
body			{ background-color:#ffffff; color:#000000; font-family:Verdana,Arial,Helvetica,Sans-Serif; font-weight:normal; margin:57px; }

b				{ font-weight:bold; }
.title			{ font-weight:bold; }
hr 				{ color:#dddddd; }

/* listen */
ul				{ list-style-type:square; margin-bottom:2px; }

/* font-sizes */
p, ul, ol, li, .text	{ font-size:8pt; line-height:11pt; }
h1						{ font-size:13pt; line-height:16pt; }
.subtitle, .title		{ font-size:13pt; line-height:16pt; }

.navi, .navihi, .cnavi	{ font-size:8pt; line-height:10pt; }
.tabelle th				{ font-size:8pt; line-height:10pt; }
small, .small			{ font-size:8pt; line-height:10pt; }

.cnavi					{ color:#666666; }

a:link, a:visited		{ color:#000000; text-decoration:none; }
a:hover 				{ text-decoration:none; }

/* tabellen */
.tabelle th				{ background-color:#ffffff; color:#000000; text-align:left; }
.tabelle .th			{ background-color:#ffffff; color:#000000; }
.tabelle td				{ background-color:#ffffff; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc; }
.tabelle table td		{ border-bottom:0; border-right:0; }

.tabelle .sub1			{ background-color:#ffffff; }
.tabelle .sub2			{ background-color:#f7f7f9; }
.tabelle .sub3			{ background-color:#f0f0f3; }
.tabelle .off			{ background-color:#ffffff; border:0; }

/* forms */
form					{ border:0px; margin:0px; padding:0px; }
.country				{ color:#999999; background-color:#F6F6F6; }
.default				{ color:#999999; }
.radiocheckbox			{ border-style:none; background-color:transparent; }

.smallbut				{ visibility:hidden; display:none; }
.but					{ visibility:hidden; display:none; }
input, select, textarea	{ color:#000000; background-color:#ffffff; border:0; }

/* images */
.imgBorder				{ border-width:1px; border-color:#000000; borderstyle:solid;vertical-align:middle; }
.btnsmall 				{ background-color:#f6f6f6; position:relative; top:2px; margin:0px 4px 0px 0px; height:10px; font-size:10px; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }
