/* styles.css - version 2.1
   common CSS definitions for DOM browsers
   author: MG,AF info@design-aspekt.com | date: 2006-01-26
*/

/* body */
body					{ background-color:#666666; margin:10px; font-family:Verdana,Arial,Helvetica,Sans-Serif; }
.bodyPopup				{ background-color:#dfdfdf; margin:0px; }

/* iframe */
.iframe					{ width:100%; height:18px; border:none;  }
.bodyiframe				{ background-color:transparent; margin:0px; padding:0px; font-family:Verdana,Arial,Helvetica,Sans-Serif; }

/* header */
#toplinks               { position:absolute; top:5px; z-index:2; right:10px; }
#toplinks table         { width:600px !important; }
#toplinksiframe			{ position:absolute; top:5px; z-index:2; margin-right:10px; width: 100%; text-align:right;}
#header					{ position:relative; margin-bottom:1px; z-index:1; }
.headerPadding			{ padding:0px 6px 6px 6px; }
.vDivider				{ border-right: 1px solid #c6c6c6; }
#logo					{ margin:0px; }
.cLogo					{ text-align:left; }

/* content */
#DIVcontent				{ background-color:#dfdfdf; margin-bottom:1px; }
#contentPrj				{ background-color:#dfdfdf; width:740px; margin-bottom:1px; }
.contentPadding			{ padding:16px 10px 16px 10px; }
.contentNaviPad			{ padding:16px 10px 16px 10px; border-right: 1px solid #c6c6c6; }
.contentNaviPadOff		{ background-color:#bebebe; padding:16px 10px 16px 10px; border-right: 1px solid #c6c6c6; }
#pageinfos				{ padding:8px 8px 8px 8px; border: 1px solid #dfdfdf; }

/* popups */
#linkmanager			{ position:absolute; width:260px; top:10px; left:10px; z-index:4; }
#contentPopup			{ position:absolute; top:10px; left:0px; padding:5px 5px 5px 5px; }

/* linien */
.hDivider				{ margin:2px 0px 2px 0px; background-color:#f0f0f0; }
.hDivideroff			{ margin:2px 0px 2px 0px; background-color:#dfdfdf; }

hr						{ color:#c6c6c6; }
.califrame				{ background-color:#ffffff; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }

/* texteditor */
.txtEditorBody			{ background-color:#dddddd; margin:0px; }
.txtEditorLinkmanager	{ position:absolute; width:200px; top:0px; left:540px; z-index:4; background-color:#ffffff; visibility:hidden; }

/* navigation */
.navi										{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#E8E8EB; font-weight:normal; }
a:link.navi, a:visited.navi					{ text-decoration:none; color:#E8E8EB; }
a:hover.navi								{ text-decoration:none; color:#ffffff; }

.navihi										{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#ffffff; font-weight:bold; }
a:link.navihi, a:visited.navihi				{ text-decoration:none; color:#ffffff; }
a:hover.navihi								{ text-decoration:none; color:#ffffff; }

.cnavi										{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#000000; font-weight:normal; line-height:16px; }
a:link.cnavi, a:visited.cnavi				{ text-decoration:none; color:#000000; }
a:hover.cnavi								{ text-decoration:none; color:#000000; }

.cnavihi									{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#000000; font-weight:bold; line-height:16px; }
a:link.cnavihi, a:visited.cnavihi			{ text-decoration:none; color:#000000; }
a:hover.cnavihi								{ text-decoration:none; color:#000000; }

.cnavioff									{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#AFAFAF; font-weight:normal; }
a:link.cnavioff, a:visited.cnavioff			{ text-decoration:none; color:#AFAFAF; }
a:hover.cnavioff							{ text-decoration:none; color:#000000; }

.cnavihioff									{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#000000; font-weight:normal; }
a:link.cnavihioff, a:visited.cnavihioff		{ text-decoration:none; color:#000000; }
a:hover.cnavihioff							{ text-decoration:none; color:#000000; }

.footer										{ font-family:Verdana,Arial,Helvetica,Sans-Serif; font-weight:normal; color:#888888; }
a:link.footer, a:visited.footer				{ color:#888888; }

/* fonts */
p, ul, ol, li, .text		{ font-weight:normal; color:#666666; }
small, .small				{ font-weight:normal; color:#999999; }
.subtitle					{ font-weight:normal; color:#000000; }
.title 						{ font-weight:bold; color:#000000; }
a:link, a:visited			{ color:#000000; text-decoration:none; }
a:hover						{ text-decoration:underline; }

th a:link, th a:visited		{ color:#000000; text-decoration:none; }

b							{ font-weight:bold; }

.marker						{ color:#a2ff00; }
.version					{ font-size:10px; color:#000000; font-weight:bold; }
.red						{ color:#ff3300; }
.strike						{ text-decoration: line-through; }

.status1 					{ color:#000000; }
.status0 					{ color:#999999; }

/* listen */
ul							{ list-style-type:square; margin-bottom:2px; }

/* font-sizes */
p, ul, ol, li, .text		{ font-size:10px; line-height:12px; }
.title, .subtitle			{ font-size:14px; line-height:16px; }

.navi, .navihi, .cnavi, .cnavihi, .cnavioff, .cnavihioff, .footer
							{ font-size:10px; line-height:13px; }
small, .small				{ font-size:10px; line-height:11px; }

/* tabellen */
.tabelle th			{ background-color:#c6c6c6; color:#000000; font-size:10px; line-height:12px; text-align:left; vertical-align:middle; }
.tabelle .th		{ background-color:#c6c6c6; color:#000000; font-size:10px; line-height:12px; vertical-align:middle; }
.tabelle .warning	{ background-color:#a2ff00; color:#000000; font-size:10px; line-height:12px; vertical-align:middle; }

.tabelle td			{ background-color:#ffffff; }
.tabelle .sub1		{ background-color:#ffffff; }
.tabelle .sub2		{ background-color:#f6f6f6; }
.tabelle .sub3		{ background-color:#e6e6e6; }
.tabelle .off		{ background-color:#dfdfdf; }
.tabelle .note		{ background-color:#FFF9B1; }
.tabelle .highlight	{ background-color:#e0ffb0; }

/* images */
.imgBorder		{ border-width:1px; border-color:#000000; border-style:solid; vertical-align:middle; }
.userPict		{ margin-right:5px; }

/* forms */
form					{ border:0px; margin:0px; padding:0px; }
.country				{ color:#999999; background-color:#f0f0f0; }
.default				{ color:#999999; }
.radiocheckbox			{ border-style:none; background-color:transparent; }

input, select, textarea	{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#000000; font-size:10px; line-height:12px; padding:2px; background-color:#ffffff; border-color:#888888 #f6f6f6 #f6f6f6 #888888; border-width:1px; border-style:solid; }

.smallbut				{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#000000; font-size:10px; height:16px; margin:0px 1px 0px 1px; padding:0px 2px 2px 2px; background-color:#f6f6f6; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }
.smallbutDisabled		{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#c6c6c6; font-size:10px; height:16px; margin:0px 1px 0px 1px; padding:0px 2px 2px 2px; background-color:#f6f6f6; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }

.but					{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#ffffff; font-size:10px; margin:0px 2px 0px 0px; padding:0px 2px 0px 2px; background-color:#666666; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }
.hiddenfield			{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#000000; font-size:10px; line-height:12px; background-color:#eeeeee; border-color:#f6f6f6 #f6f6f6 #f6f6f6 #f6f6f6; border-width:1px; border-style:solid; }

.btn 					{ background-color:#f6f6f6; width:22px; height:14px; margin:0px 1px 0px 1px; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid;}
.btnon					{ background-color:#f6f6f6; width:22px; height:14px; margin:0px 1px 0px 1px; border-color:#888888 #f6f6f6 #f6f6f6 #888888; border-width:1px; border-style:solid;}

.textbtn 				{ vertical-align:top; background-color:#f6f6f6; font-size:10px; line-height:15px; padding: 1px 0px 1px 0px; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }
.textbtn img			{ border:0px; margin: 0px; vertical-align:top; }
a:link.textbtn, a:visited.textbtn	{ color:#000000; text-decoration:none; }
a:hover.textbtn						{ color:#000000; text-decoration:none; }

.btnsmall 				{ background-color:#f6f6f6; position:relative; top:2px; margin:0px 4px 0px 0px; height:10px; font-size:10px; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }

.calButton				{ font-family:Verdana,Arial,Helvetica,Sans-Serif; background-color:#f6f6f6; top:-4px; height:16px; font-size:10px; padding:0px 2px 2px 2px; border-color:#f6f6f6 #888888 #888888 #f6f6f6; border-width:1px; border-style:solid; }
a:link.calButton, a:visited.calButton	{ color:#000000; text-decoration:none; }
a:hover.calButton						{ color:#000000; text-decoration:none; }

#header .smallbut 		{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#ffffff; font-size:10px; margin:0px 0px 0px 0px; padding:0px 2px 2px 2px; background-color:#4d4d4d; border-color:#dfdfdf #666666 #666666 #dfdfdf; border-width:1px; border-style:solid; margin: 0px 4px 0px 4px; }
#header .input			{ font-family:Verdana,Arial,Helvetica,Sans-Serif; color:#ffffff; font-size:10px; margin:0px 0px 0px 0px; padding:0px 2px 2px 2px; background-color:#4d4d4d; border-color:#666666 #dfdfdf #dfdfdf #666666; border-width:1px; border-style:solid; }


/* CAL */
.allday					{ border-left:4px solid #c6c6c6; }
.notallday				{ border-left:4px solid #f6f6f6; }

.eventBoxWeek			{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; }
.eventBoxWeekbusiness	{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#eeeeee; padding:2px; }
.eventBoxWeekprivate	{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#f6f6f6; padding:2px; }
.eventBoxWeekcall		{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#f6f6f6; padding:2px; }
.eventBoxWeekleave		{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#f6f6f6; padding:2px; }
.eventBoxWeeksick		{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#f6f6f6; padding:2px; }
.eventBoxWeekholiday	{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#f6f6f6; padding:2px; }
.eventBoxWeeklieu		{ border-left:1px solid #f6f6f6; border-bottom:1px solid #ffffff; position:relative; background-color:#f6f6f6; padding:2px; }

.eventBoxDay			{ position:relative; border:1px solid #ffffff; background-color:#ffffff; overflow:hidden; vertical-align:middle; width:100%; }
.eventBoxDaybusiness	{ position:relative; background-color:#eeeeee; vertical-align:middle; width:100%; }
.eventBoxDayprivate		{ position:relative; background-color:#f6f6f6; vertical-align:middle; width:100%; }
.eventBoxDaycall		{ position:relative; background-color:#f6f6f6; vertical-align:middle; width:100%; }
.eventBoxDayleave		{ position:relative; background-color:#f6f6f6; vertical-align:middle; width:100%; }
.eventBoxDaysick		{ position:relative; background-color:#f6f6f6; vertical-align:middle; width:100%; }
.eventBoxDayholiday		{ position:relative; background-color:#f6f6f6; vertical-align:middle; width:100%; }
.eventBoxDaylieu		{ position:relative; background-color:#f6f6f6; vertical-align:middle; width:100%; }

.eventBoxAnfahrt		{ position:absolute; border:1px solid #f0f0f0; background-color:#ffffff; float:left; overflow:hidden; }

.calTableHead			{ font-family:Verdana,Arial,Helvetica,Sans-Serif; font-weight:normal; font-size:10px; line-height:15px; text-decoration:none; }
.calHeadlineTD			{ background-color:#c6c6c6; color:#000000; padding:4px; text-align:left; }
.calButtonTD			{ background-color:#c6c6c6; color:#000000; padding:4px; text-align:right; }

.calTableBody		{ font-family:Verdana,Arial,Helvetica,Sans-Serif; font-weight:normal; font-size:10px; text-decoration:none; text-align:center; }
.calTableBody tr	{ vertical-align:top; }
.calTableBody td	{ padding:4px; }
.calDaynames		{ width:14%; font-size:10px; background-color:#c6c6c6; color:#000000; text-align:left; vertical-align:middle; }
.calWeekday			{ background-color:#ffffff; color:#000000; text-align:center; text-decoration:none; }
.calSaturday		{ background-color:#f6f6f6; color:#999999; text-align:center; text-decoration:none; }
.calSunday			{ background-color:#f6f6f6; color:#999999; text-align:center; text-decoration:none; }
.calNotthismonth	{ background-color:#e6e6e6; color:#999999; text-align:center; text-decoration:none; }
.calHighlight		{ background-color:#e0ffb0; color:#000000; text-align:center; text-decoration:none; }

#calHighlightHome	{ border-width:1px; border-color:#666666; border-style:solid; background-color:#e0ffb0; text-decoration:none; }
#calToday			{ border-width:1px; border-color:#000000; border-style:solid; text-decoration:none; }
.calWeek			{ background-color:#c6c6c6; color:#999999; font-weight:bold; text-align:center; text-decoration:none; }

.calWeek a:link, .calWeek a:visited		{ color:#000000; text-decoration:none; }

a:link.calWeekday, a:visited.calWeekday				{ color:#000000; text-decoration:none; }
a:link.calSaturday, a:visited.calSaturday			{ color:#999999; text-decoration:none; }
a:link.calSunday, a:visited.calSunday				{ color:#999999; text-decoration:none; }
a:link.calNotthismonth, a:visited.calNotthismonth	{ color:#999999; text-decoration:none; }
a:link.calHighlight, a:visited.calHighlight			{ color:#000000; text-decoration:none; }

button.invisible { margin: 0; padding: 0; border: none; background: transparent; }
