@CHARSET "UTF-8";

#menu-artists_menu li:nth-child(1) .sub-menu li,
#menu-artists_menu li:nth-child(2) .sub-menu li {
           display: none;
}

#menu-artists_menu > li:nth-child(3) > a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}