/* table elements */
table {
	border-style: none;
	width:80%;
	margin: 0px;
	padding: 0px;
}
td {
	padding: 0px;
}

#sitemapTable {
	width: 856px;
	margin: 10px 0px 0px 0px;
}
#sitemapTable td {
	border-left: 1px solid #ffffff;
	padding: 5px 20px 5px 15px;
}